node_modules
logs
.env
coverage
config.ini

__pycache__

docker-compose.override.yml

// files
ips.json
users.json
requests.json
roomsBeingChecked.json
newrelic_agent.log
newrelic.cjs

bin
obj
.vs